body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes LOADER {
  from {
    transform:rotate(0deg);
  }
  to {transform:rotate(360deg);}
}
.loader {
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content: center;
  align-items:center;
  z-index:100;
  background: rgba(0, 0,0, 0.3);
  span, div {
    animation: LOADER 1s infinite linear;
    height:100px;
    width:100px;
    border-radius:50%;
    border:10px solid white;
    border-top:10px solid blue;
  }
}
.svg {
  width:14px;
}